{
	"id": "compu-pos-environment-local",
	"name": "Compu-Pos Database Environment (Local)",
	"values": [
		{
			"key": "db_server",
			"value": "DESKTOP-42E526E\\MSSQLSERVER_2016",
			"type": "default",
			"enabled": true
		},
		{
			"key": "db_name",
			"value": "Compu_Pos",
			"type": "default",
			"enabled": true
		},
		{
			"key": "db_user",
			"value": "sa",
			"type": "default",
			"enabled": true
		},
		{
			"key": "db_password",
			"value": "6321",
			"type": "secret",
			"enabled": true
		},
		{
			"key": "connection_string",
			"value": "Data Source=DESKTOP-42E526E\\MSSQLSERVER_2016;Initial Catalog=Compu_Pos;User ID=sa;Password=6321;TrustServerCertificate=True;MultipleActiveResultSets=True;",
			"type": "default",
			"enabled": true
		}
	],
	"_postman_variable_scope": "environment",
	"_postman_exported_at": "2026-02-07T22:08:46.038Z",
	"_postman_exported_using": "Postman/10.0.0"
}
